[Desktop Entry]
Categories=Utility;Application;
Comment[it_IT]=Applicazione per ripristinare snapshot BTRFS
Comment=Applicazione per ripristinare snapshot BTRFS
Exec=/usr/lib/kf6/kdesu /usr/local/bin/btrbk_restore_qt
GenericName[it_IT]=
GenericName=
Icon=backup-symbolic
MimeType=
Name[it_IT]=Snapshot Restore
Name=Snapshot Restore
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
